TOKENS.txt
/*.jpg
/*.jpeg
/*.png
/*.webm
/*.mp3
/*.mov
/*.wav
/*.f251
/*.gif
/*.db
__pycache__
active
*.pem
guilds.txt
cookies.txt
*.part
*.ytdl
.DS_Store
PATREON.db-journal
PATREON.db
tmpFiles
TMPDIR
ERRORS
OLDSHIT
discord.log